fastapi
uvicorn[standard]
pydantic>=2.0
pydantic-settings
pydantic[email]
python-jose[cryptography]
bcrypt
httpx
python-multipart
pytest
sqlalchemy
alembic
asyncpg
psycopg2-binary
python-dotenv
jinja2