{% extends "base.html" %}
{% block title %}Profile — RoadBuddy{% endblock %}

{% block content %}

<h1>👤 My Profile</h1>

{% if success %}
  <p class="success">{{ success }}</p>
{% endif %}
{% if error %}
  <p class="error">{{ error }}</p>
{% endif %}

<form method="post" action="/profile/update">

<label>Name</label>
<input 
type="text"
name="name"
value="{{ user.name }}"
required>


<label>Email</label>
<input 
type="email"
name="email"
value="{{ user.email }}"
readonly>


<label>New Password</label>
<input 
type="password"
name="password"
placeholder="Optional">


<button type="submit">
Save Changes
</button>

</form>

{% endblock %}